@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import "config";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.wrap {
	background: #a6d1c9;
	width: 100vw;
	height: 100vh;
}

.section_1 {
	@extend %section;
	background: #a6d1c9;
	.text_1 {
		@extend %text;
		color: #e83c38;
		font-size: 10em;
	}
}
.section_2 {
	@extend %section;
	flex-direction: column;
	align-content: center;
	background: #a6d1c9;
	.text_2,
	.text_3,
	.text_4 {
		@extend %text;
		color: #148ae0;
		font-size: 10em;
	}
}

// .text_5 {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-wrap: wrap;
// 	height: 500px;
// 	width: 500px;
// 	color: #2e2f1e;
// 	font-size: 9.2em;
// 	line-height: 1;
// }
