@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	background: #efc2c2;
}

section .text {
	position: relative;
	text-align: center;
	color: #148ae0;
	margin: 10%;
	max-width: 650px;
	font-size: 2em;
	opacity: 1;
}

section .text span {
	position: relative;
	display: inline-block;
}
